<%= form_for(@note, :html => { :class=>"yform"}) do |f| %>
<% if @note.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
 <ul>
    <% @note.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset class="columnar">
  <legend>Note Details</legend>
  
  <div class="type-text">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>
  <div class="type-text">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="type-text">
    <%= f.label :note_text %>
    <%= f.text_area :note_text %>
  </div>
  <div class="type-text">
    <%= f.label :computer_id %>
    <%= f.text_field :computer_id %>
  </div>
  <div class="type-text">
    <%= f.label :battery_id %>
    <%= f.text_field :battery_id %>
  </div>
  <div class="type-button">
    <%= f.submit %>
  </div>
  <% end %>
</div>
