<tr onclick="location.href='<%= note_path(note.id) %>'">
  <td><%= note.updated_at.to_formatted_s(:long) %></td>
  <td><%= note.user_name %></td>
  <td><%= note.note_text %></td>
  <!-- <p>  <%= link_to 'Delete Note', [note.computer, note], :confirm => 'Are you sure?', :method => :delete %></p> -->
</tr>

