<div id="col1">
  <div id="col1_content" class="clearfix">
    <%= image_tag "note.jpg", :size => "80x80" %>
    <br \> 
    <div class="info">
      <!-- add your content here -->
      <p><strong>Filter</strong></p>
      <p><%= link_to "All", :filter => "All" %></p> 
      <p><%= link_to "Battery", :filter => "battery" %></p>
      <p><%= link_to "Computer", :filter => "computer" %></p>
    </div>
  </div>
</div>
<div id="col3">
  <div id="col3_content" class="clearfix">

<h1>Notes</h1>


<!-- <table cellpadding="5" cellspacing="0" border="1" class="pretty"> -->
<table class="full" class="pretty">
  <caption style="text-align:left"><%= @notes.count %> Notes in this view.</caption>
  <thead>
    <tr>
      <th scope="col" colspan="7">
	<br />
     </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Date</th>
      <th>User</th>
<!--      <th>User</th> -->
      <th>Note text</th>
      <th>Computer</th>
      <th>Battery</th>
      <th>Actions</th>
    </tr>

    <% @notes.each do |note| %>
    <tr valign="top" onclick="location.href='<%= note_path(note.id) %>'">
      <td><%= note.created_at.to_formatted_s(:long) %></td>
      <td><%= note.user_name %></td>
<!--      <td><%= note.user_id %></td> -->
      <td><%= note.note_text %></td>
      <td><%= note.computer.computer_jbbp_id rescue nil %></td>
      <td><%= note.battery.battery_jbbp_id rescue nil %></td>
      <td class="list-actions">
	<%= link_to 'Show', note %> | 
	<%= link_to 'Edit', edit_note_path(note) %> | 
	<%= link_to 'Destroy', note, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end %> <!-- @notes.each -->
    </tbody>
</table>

</div>
</div>
