
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),  :html => { :class => "yform"}) do |f| %>
<fieldset class="columnar">
  <legend>Sign Up</legend>

  <%= devise_error_messages! %>

  <div class="type-text">
    <%= f.label :name %>
    <%= f.text_field :name %></div>

  <div class="type-text">
    <%= f.label :email %>
    <%= f.email_field :email %></div>

  <div class="type-text"><%= f.label :password %>
    <%= f.password_field :password %></div>

  <div class="type-text"><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>

  <div class="type-button"><%= f.submit "Sign up" %></div>
</fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
