<!-- <p><%= link_to_function("Click to Add New Note",  "Element.toggle('add-note')") %></p> -->
<div id="add-note"> <!-- style="display:none;"> -->


  <%= form_for([@computer, @computer.notes.build], :html => { :class=>"yform"}) do |f| %>

  <fieldset class="columnar">
    <legend>Add a Note</legend>
    
    <div class="type-text">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, :value => current_user.name %>
    </div>
    <div class="type-text">
      <%= f.label :note_text %>
      <%= f.text_area :note_text %>
    </div>
    <div class="type-text">
      <%= f.label :computer_id %>
      <%= f.text_field :computer_id %>
    </div>
    <div class="type-button">
      <%= f.submit %>
    </div>
  </fieldset>
  <% end %>
</div> <!-- id="add-note" -->
  

