<%= form_for(@computer,:html => { :class=>"yform"}) do |f| %>
<% if @computer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@computer.errors.count, "error") %> prohibited this computer from being saved:</h2>
  <ul>
    <% @computer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<fieldset class="columnar">
  <legend>Computer Information</legend>
  
  <div class="type-text">
  <%= f.label :computer_name_en %> 
    <%= f.text_field :computer_name_en %>
  </div>
  <div class="type-text">
    <%= f.label :computer_name_jp %>
    <%= f.text_field :computer_name_jp %>
  </div>
  <div class="type-text">
    <%= f.label :computer_jbbp_id %>
    <%= f.text_field :computer_jbbp_id %>
  </div>
  <div class="type-select">
    <%= f.label :computer_model %>
    <%= f.select :computer_model, [
	['iBook G3 - 12in','iBook G3 - 12in'],
	['iBook G4 - 12in','iBook G4 - 12in'],
	['PowerBook G4','iPowerBook G4'],
	['MacBook - 4.2','MacBook - 4.2'],
	['MacBook - 4.3','MacBook - 4.3'],
	['MacBook - 5.2','MacBook - 5.2'],
	['MacBook - 6.1','MacBook - 6.1'],
	['Other','Other']] %>
  </div>
  <div class="type-select">
    <%= f.label 'OS Version' %>
    <%= f.select :computer_os_version, [
	['Mac OS X - 10.2.8','Mac OS X - 10.2.8'],
	['Mac OS X - 10.2.8','Mac OS X - 10.2.8'],
	['Mac OS X - 10.3','Mac OS X - 10.3'],
	['Mac OS X - 10.3.9','Mac OS X - 10.3.9'],
	['Mac OS X - 10.4','Mac OS X - 10.4'],
	['Mac OS X - 10.5','Mac OS X - 10.5'], 
	['Mac OS X - 10.5.6','Mac OS X - 10.5.6'], 
	['Mac OS X - 10.6','Mac OS X - 10.6'], 
	['Mac OS X - 10.6.4','Mac OS X - 10.6.4'], 
	['Mac OS X - 10.7','Mac OS X - 10.7'],
	['Other','Other']] %>
  </div>
  <div class="type-text"x>
    <%= f.label 'Memory' %>
    <%= f.number_field :computer_memory %>
  </div>
  <div class="type-text">
    <%= f.label 'Serial Number' %>
    <%= f.text_field :computer_serial_number %>
  </div>
  <div class="type-text">
    <%= f.label 'Purchase Date' %>
    <%= f.date_select :computer_year_acquired %>
  </div>
  <div class="type-text">
    <%= f.label 'Warranty Expires' %>
    <%= f.date_select :computer_warrenty_expires %>
  </div>
  <div class="type-select">
    <%= f.label 'Status' %>x
    <%= f.select :computer_status, [['Good','Good'],['Minor Issues','Minor Issues'],['Not Working','Not Working'],['Retired','Retired']] %>
  </div>
  <div class="type-button">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>

