<div id="computer-list">
<h1>Listing Computers</h1>

<table cellpadding="5" cellspacing="0" border="1">
  <tr>
    <th>id</th>
    <th>Name (English)</th>
<!--    <th>Name (Japanese)</th> -->
    <th>JLIP ID</th>
    <th>Model</th>
<!--    <th>OS Version</th> -->
<!--    <th>Serial Number</th> -->
<!--   <th>Memory</th> -->
<!--   <th>Purchase Date</th> -->
<!--   <th>Warrenty Expires</th> -->
    <th>Computer Status</th>
    <th></th>
    <th>Battery Info</th>
  </tr>

  <% @computers.each do |computer| %>
  <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%= computer.id %></td>
    <td><%= computer.computer_name_en %></td>
<!--    <td><%= computer.computer_name_jp %></td> -->
    <td><%= computer.computer_jbbp_id %></td>
    <td><%= computer.computer_model %></td>
<!--    <td><%= computer.computer_os_version %></td> -->
<!--    <td><%= computer.computer_serial_number %></td> -->
<!--    <td><%= computer.computer_memory %></td> -->
<!--    <td><%= computer.computer_year_acquired %></td> -->
<!--    <td><%= computer.computer_warrenty_expires %></td> -->
    <td><%= computer.computer_status %></td>
    <td class="list-actions"><%= link_to 'Show', computer %>|<%= link_to 'Edit', edit_computer_path(computer) %>|<%= link_to 'Delete', computer, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><!-- <%= computer.batteries %> -->
       <%= Battery.find_by_computer_id(computer.id).battery_jbbp_id rescue nil%></td>
 </tr>
  <% end %>
</table>
</div>
<br />

<%= link_to 'New Computer', new_computer_path %>

