<div id="computer-list">
  <h1>Listing Computers</h1>

  <table cellpadding="5" cellspacing="0" border="1">
    <tr>
      <th><%= link_to "Name (English)", :sort => "computer_name_en" %></th>
      <th><%= link_to "Name (Japanese)", :sort => "computer_name_jp" %></th>
      <th><%= link_to "JBBP ID", :sort => "computer_jbbp_id" %></th>
      <th><%= link_to "Model", :sort => "computer_model" %></th>
      <th><%= link_to "Computer Status", :sort => "computer_status" %></th>
      <th>Battery Info</th>
      <th></th>
    </tr>
    <% for computer in @computers %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%= computer.computer_name_en %></td>
      <td><%= computer.computer_name_jp %></td>
      <td><%= computer.computer_jbbp_id %></td>
      <td><%= computer.computer_model %></td>
      <td><%= computer.computer_status %></td>
      <td>
	<%= Battery.find_by_computer_id(computer.id).battery_jbbp_id rescue nil %>
      </td>
      <td class="list-actions">
	<%= link_to 'Show', computer %>|
	<%= link_to 'Edit', edit_computer_path(computer) %>|
	<%= link_to 'Delete', computer, :confirm => 'Are you sure?',
	:method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New Computer', new_computer_path %>

</div>

