<div id="computer-list">


<p class="filter-actions"><strong> Filter: </strong>
  <%= link_to "All", :filter => "All" %> | 
  <%= link_to "Good", :filter => "Good" %> | 
  <%= link_to "Minor Issues", :filter => "Minor Issues" %> | 
  <%= link_to "Not Working", :filter => "Not Working" %> | 
  <%= link_to "Retired", :filter => "Retired" %>
</p>
<p class="filter-actions">
 <%= link_to "Toggle View<tbd>", :view => "detailed" %>
</p>

  <h1>Listing Computers - <%= params[:view] ?  "(Detailed View)" : "(Summary View)"  %></h1>

  <table cellpadding="5" cellspacing="0" border="1" class="pretty">
    <tr>
      <th><%= sortable "computer_name_en", "Name (English)" %></th>
      <th><%= sortable "computer_name_jp", "Name (Japanese)" %></th>
      <th><%= sortable "computer_jbbp_id", "JBBP ID" %></th>
      <th><%= sortable "computer_model", "Model" %></th>
      <th><%= sortable "computer_status", "Computer Status" %></th>
      <th>Battery Info</th>
      <th></th>
    </tr>
    <% for computer in @computers %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%= computer.computer_name_en %></td>
      <td><%= computer.computer_name_jp %></td>
      <td><%= computer.computer_jbbp_id %></td>
      <td><%= computer.computer_model %></td>
      <td><strong><%= format_status computer.computer_status %></strong></td>
      <td>
	<%= Battery.find_by_computer_id(computer.id).battery_jbbp_id rescue nil %>
      </td>
      <td class="list-actions">
	<%= link_to 'Show', computer %>|
	<%= link_to 'Edit', edit_computer_path(computer) %>|
	<%= link_to 'Delete', computer, :confirm => 'Are you sure?',
	:method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New Computer', new_computer_path %>
  <br \>
 
</div>

