<%= form_for(resource, :as => resource_name, :url =>password_path(resource_name), :html => { :method => :post,:class=>"yform"}) do |f| %>
<fieldset class="columnar">
  <legend>Forgot Your Password?</legend>
<%= devise_error_messages! %>
  
  <div class="type-text">
    <%= f.label :email %>
    <%= f.email_field :email %></div>
  
  <div class="type-button">
    <%= f.submit "Send me reset password instructions" %></div>
</fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
