<table class="full" class="pretty">
  <caption style="text-align:left">Battery Details</caption>
  <tbody>
    <tr onclick="location.href='<%= battery_path(battery.id) %>'">
      <td><b>JBBP ID:</b></td>
      <td><%= link_to battery.battery_jbbp_id, battery %></td>
   </tr>
    <tr>
      <td><b>Model:</b></td>
      <td><%= battery.battery_model %></td>
    </tr>
    <tr>
      <td><b>Serial Number:</b></td>
      <td><%= battery.battery_serial_number %></td>
    </tr>
    <tr>
      <td><b>Battery status:</b></td>
      <td><%= battery.battery_status %></td>
    </tr>
    <tr>
      <td><b>Belongs to Computer:</b></td>
      <td><%= battery.computer.computer_name_en %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to 'Remove this battery from computer', 
      battery_path(battery.id, 
      :battery => { :computer_id => 'nil'}),
      :confirm => 'Are you sure you want to remove this battery from this computer?',
      :method => :put 
  %>
</p>

