<h1>Batteries</h1>

<table class="full" class="pretty">
  <caption style="text-align:left"><%= @batteries.count %> Batteries in this view.</caption>
  <thead>
    <tr>
      <th scope="col" colspan="6">
	<p><strong> Filter: </strong>
	  <%= link_to "All", :filter => "All" %> | 
	  <%= link_to "Good", :filter => "Good" %> | 
	  <%= link_to "Weak", :filter => "Weak" %> | 
	  <%= link_to "Not Working", :filter => "Not Working" %> | 
	  <%= link_to "Retired", :filter => "Retired" %>
	</p>
      </th>
    </tr>
  </thead>
 <tbody>
    <tr>
      <th><%= sortable  "battery_jbbp_id", "JLIP ID" %></th>
      <th><%= sortable "battery_model", "Model" %></th>
      <th><%= sortable "battery_serial_number", "Serial Number "%></th>
      <th><%= sortable "battery_status", "Status" %></th>
      <th>Belongs to Computer</th>
      <th>Actions</th>
    </tr>

    <% @batteries.each do |battery| %>
    <tr>
      <td><%= battery.battery_jbbp_id %></td>
      <td><%= battery.battery_model %></td>
      <td><%= battery.battery_serial_number %></td>
      <td><b><%= format_status battery.battery_status %></b></td>
      <td>
	<%= create_computer_link(battery.computer_id) %>
      </td>
      <td class="list-actions"><%= link_to 'Show', battery %> | 
	<%= link_to 'Edit', edit_battery_path(battery) %> | 
	<%= link_to 'Delete', battery, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Battery', new_battery_path %>

