<p id="notice"><%= notice %></p>

<h1> Battery: <%= @battery.battery_jbbp_id %> </h1>
<table cellpadding="5" cellspacing="0">
<tr>
  <td><b>id:</b></td>
  <td><%= @battery.id %></td>
</tr>
<tr>
  <td><b>JLIP ID:</b></td>
  <td><%= @battery.battery_jbbp_id %></td>
</tr>
<tr>
  <td><b>Model:</b></td>
  <td><%= @battery.battery_model %></td>
</tr>
<tr>
  <td><b>Serial Number:</b></td>
  <td><%= @battery.battery_serial_number %></td>
</tr>
<tr>
 <td><b>Battery status:</b></td>
 <td><%= @battery.battery_status %></td>
</tr>
<tr>
 <td><b>Belongs to Computer (JBBP ID):</b></td>
 <td>
  <%= Computer.find_by_id(@battery.computer_id).computer_name_en rescue nil %>
 (<%= Computer.find_by_id(@battery.computer_id).computer_jbbp_id rescue nil %>)
</td>
</tr>
</table>

<h2>Notes: </h2>
<hr>
<% @battery.notes.each do |note| %>
<p>
  <b>By:</b>
  <%= note.user_name %>
</p>
<p>
  <b>Note:</b>
  <%= note.note_text %>
</p>
<p>
  <b>Date:</b>
  <%= note.updated_at %>
</p>
<p>
<!-- <p>  <%= link_to 'Delete Note', [note.battery, note], :confirm => 'Are you sure?', :method => :delete %></p> -->
<hr>
<% end %>


<h2>Add a note:</h2>
<%= form_for([@battery, @battery.notes.build]) do |f| %>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :note_text %><br />
    <%= f.text_area :note_text %>
  </div>
  <div class="field">
    <%= f.label :battery_id %><br />
    <%= f.text_field :battery_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit Battery', edit_battery_path(@battery) %> |
<%= link_to 'New Battery', new_battery_path %> |
<%= link_to 'Battery List', batteries_path %>
