<div class="subcolumns">
  <div class="c40l">
    <div class="subcl">
      <!-- Insert your subtemplate content here -->
      <p id="notice"><%= notice %></p>

      <table class="full" class="pretty">
	<caption style="text-align:left">Battery Details</caption>
	<tbody>	  
	  <tr>
	    <th scope="col" colspan="2"  style="text-align:center">
	      <%= @battery.battery_jbbp_id %>
	    </th>
	  </tr>
	  <tr>
	    <td><b>id:</b></td>
	    <td><%= @battery.id %></td>
	  </tr>
	  <tr>
	    <td><b>JLIP ID:</b></td>
	    <td><%= @battery.battery_jbbp_id %></td>
	  </tr>
	  <tr>
	    <td><b>Model:</b></td>
	    <td><%= @battery.battery_model %></td>
	  </tr>
	  <tr>
	    <td><b>Serial Number:</b></td>
	    <td><%= @battery.battery_serial_number %></td>
	  </tr>
	  <tr>
	    <td><b>Battery status:</b></td>
	    <td><%= @battery.battery_status %></td>
	  </tr>
	  <tr>
	    <td><b>Belongs to Computer (JBBP ID):</b></td>
	    <td>
	      <%= Computer.find_by_id(@battery.computer_id).computer_name_en rescue nil %>
	      (<%= Computer.find_by_id(@battery.computer_id).computer_jbbp_id rescue nil %>)
	    </td>
	  </tr>
	</tbody>
      </table>
    </div> <!-- class="subcl" -->
  </div> <!-- class="c..l" -->
  <div class="c60r">
    <div class="subcr">
      <!-- Insert your subtemplate content here -->
      <p></p>
      <table class="full">
	<caption style="text-align:left">Notes (<%= @battery.notes.count %>)</caption>
	<tbody>
	  <tr>
	    <th>Date</th>
	    <th>Name</th>
	    <th>Note</th>
	  </tr>
	  <%= render @battery.notes %>
	</tbody>
      </table>
      <%= render "add_battery_note" %>
    </div> <!-- class="subcr" -->
  </div> <!-- class="c50r" -->
</div> <!-- class="subcolumns" -->


 <%= link_to 'Edit Battery', edit_battery_path(@battery) %> |
 <%= link_to 'New Battery', new_battery_path %> |
 <%= link_to 'Battery List', batteries_path %>
